body {
    font-family: 'Open Sans', sans-serif;
    background-color: burlywood;
}
.container {
  margin: auto 20px;
}

.logo {
    color: blueviolet;
    text-align: center;
    font-weight: 800;
    font-size: 74px; 
}
.title {
    font-weight: 300;
    font-size: 74px;
    width: 890px;
    margin-bottom: 20px;
    margin-top: 150px;
}
.pop {
    display: flex;
}

.info a {
    padding: 10px 15px;
    font-weight: 800;
    font-size: 39px;
    text-decoration: none;
    border: 5.94px solid #000000;
    border-radius:10px;
    color: darkolivegreen;
    background-color: rgba(128, 12, 12, 0.306);
}

.iphone-1 {
    width: 436px;
    height: 499px;
    position: absolute;
    z-index: 2;
    right: 140px;
    bottom: 276px;
}
.iphone-2 {
    width: 268px;
    height: 507px;
    position: absolute;
    z-index: 1;
    right: 80px;
}